<div class="contents row">
  <div class="container">
    <h3>新規募集ルーム作成</h3>
  <%= form_with(model: @room, local: true) do |form| %>      
    <%= render 'layouts/error_messages', model: form.object %> 
    <div>
      作品名
    </div>
    <%= form.text_field :title %>
     <div>
      PSID
    </div>
    <%= form.text_field :psid %>
    <div>
      募集人数
    </div> 
    <%= form.collection_select(:member_id, Member.all, :id, :name, {}, {class:"select-box"}) %>
    <div>
      タグ
    </div> 
    <%= form.text_field :tag_list, value: @room.tag_list.join(','),placeholder: "タグを複数つけるには' , 'で区切ってください" %>
    <div>
      備考欄
    </div> 
    <%= form.text_area :text %>

    <%= form.submit "募集" %>
  <% end %>
  </div>
</div>