<div class="contents row">
  <div class="container">
    <h3>詳細情報</h3>
    <div class="msr_h205" >
      作品名
    </div>
      <%= @room.title %>
    <div class="msr_h205" >
      PSID
    </div>
      <%= @room.psid %>
    <div class="msr_h205" >
      募集人数
    </div> 
      <%= @room.member.name %>
    <div class="msr_h205" >
      タグ
    </div> 
    <p class="msr_btn07">
      <% @tags.each do |tag| %>
        <%= link_to "#{tag.name}(#{tag.taggings_count})", root_path(tag: tag.name) %>
      <% end %>
    </p>
    <div class="msr_h205" >
      備考欄
    </div> 
      <%= @room.text %>
  </div>
</div>

<div class="container">
  <div class="comments">
    <% if @comments.present? %>
      <h4>コメント</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, root_path %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="msr_btn08">
  <% if current_user %>
    <%= link_to "コメントする", room_comments_path(@room.id) %>
    <%= link_to "参加申請する", root_path %>
  <% end %>
  </div>
</div>
